@model TestSportProgect.Models.Club

@{
    ViewBag.Title = "ChelseaClub";
}

    <div class="container d-flex  flex-column  clubSection">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10 d-flex justify-content-center">
                <h2>Chelsea Football Club. FA Premier League</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 d-flex justify-content-start">
                <p><img class="img-thumbnail" src='@Url.Content("~/Content/img/chelseaLogo.png")' alt="Chelsea"></p>
            </div>
            <div class="col-lg-5 ml-auto">
                    <h4>Full name: <span>Chelsea Football Club</span></h4>
                    <h4>Nickname(s): <span>The Blues, The Pensioners</span></h4>
                    <h4>Founded: <span>March 1905</span></h4>
                    <h4>Ground: <span>Stamford Bridge</span></h4>
                    <h4>Stadium Capacity: <span>40,853</span></h4>
            </div>
        </div>
        <div class="row stadiumSection">
            <div class="col-lg-10 ">
                <h3>Club stadium photo:</h3>
                <p><img src='@Url.Content("~/Content/img/chelseaStadium.jpg")' alt="Chelsea club stadium"></p>
            </div>
        </div>
        <div class="row d-flex justify-content-end">
            <div class="col-lg-3 d-flex justify-content-end">
                <button class="btn returnBtn">
                    @Html.ActionLink("Return to list...", "FootballClubs", "Home")
                </button>                               
            </div>
        </div>
    </div>

