
@{
    ViewBag.Title = "Clubs & Leagues";
}

    <section class="clubsSection ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 jumbotron description">
                    <h2>European Football clubs</h2>
                    <p>There you can find some information about some European Footbal clubs. Choose the one and have fun.</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10">
                    <!-- button One -->
                    @using (Ajax.BeginForm("EnglandClubsList", new AjaxOptions { UpdateTargetId = "clubsInfo", LoadingElementId = "waiting" }))
                    {
                        <div class="rounded d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary openListBtn" id='btnOne'>FA Premier League</button>
                        </div>
                    }
                    <div class="apiContent infoContainer d-none" id="clubsInfo"></div>
                    <div id="waiting">Ожидание Ajax-запроса...</div>


                    <!-- button Two -->
                    @using (Ajax.BeginForm("SpainClubsList", new AjaxOptions { UpdateTargetId = "clubsInfoTwo", LoadingElementId = "waiting" }))
                    {
                        <div class="rounded d-flex justify-content-center">
                            <button class="btn btn-primary openListBtn" id='btnOne'>LA Liga</button>
                        </div>
                    }
                    <div class="apiContent infoContainer d-none " id="clubsInfoTwo"></div>
                    <div id="waiting">Ожидание Ajax-запроса...</div>
                    <!-- button Three -->
                    @using (Ajax.BeginForm("ItalyClubsList", new AjaxOptions { UpdateTargetId = "clubsInfoThree", LoadingElementId = "waiting" }))
                    {
                        <div class="rounded d-flex justify-content-center">
                            <button class="btn btn-primary openListBtn" id='btnOne'>Seria A</button>
                        </div>
                    }
                    <div class="apiContent infoContainer d-none " id="clubsInfoThree"></div>
                    <div id="waiting">Ожидание Ajax-запроса...</div>
                </div>
            </div>
        </div>
    </section>

