
@{
    ViewBag.Title = "Clubs & Leagues";
}

    <section class="clubsSection ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 jumbotron description">
                    <h2>European Football clubs</h2>
                    <p>There you can find some information about some European Footbal clubs. Choose the one and have fun.</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10">
                    <!-- button One -->
                    <div class="rounded d-flex justify-content-center">
                        <button class="btn btn-primary openListBtn" id='btnOne'>FA Premier League</button>
                    </div>
                    <div class="apiContent infoContainer d-none  " id="clubsInfo">
                        <p><span>Some information bla bla</span></p>
                        <p><span>Some information bla bla</span></p>
                        <p><span>Some information bla bla</span></p>
                    </div>

                    <!-- button Two -->
                    <div class="rounded d-flex justify-content-center">
                        <button class="btn btn-primary openListBtn" id='btnOne'>LA Liga</button>
                    </div>
                    <div class="apiContent infoContainer d-none " id="clubsInfo">
                        <p>Some information bla bla</p>
                    </div>
                    <!-- button Three -->
                    <div class="rounded d-flex justify-content-center">
                        <button class="btn btn-primary openListBtn" id='btnOne'>Seria A</button>
                    </div>
                    <div class="apiContent infoContainer d-none " id="clubsInfo">
                        <p>Some information bla bla</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

