@{
    ViewBag.Title = "Sports news & events";
}

<section class="first-section d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 jumbotron description">
                <h2>Sport news & events app</h2>
                <p>Do you want to view summertime world sport activities? All you need is to choose an interesting for you <strong>topic</strong>, click the button and watch the list of news or some sports events. Have fun!</p>
                <a class="btn btn-primary description-btn" href="#transfer-section" role="button">Go to Events</a>
            </div>
        </div>
    </div>
</section>
<section class="transfer-section d-flex align-items-center" id="transfer-section">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10">
                <div class="transfer-heading page-header d-flex justify-content-center ">
                    <h1>Sports news and events</h1>
                </div>                
                <!-- button One -->
                <div class="rounded d-flex justify-content-center">
                    <button class="btn btn-primary openListBtn" id='btnOne'>World friendlies football matches</button>
                </div>
                <div class="infoContainer d-none" id="latestFriendliesContainer">
                    <div class="apiContent" id="friendliesInfo"></div>
                    <div class="navButtons d-flex justify-content-center">
                        <button class="btn btn-primary navButton prevBtn" id="previousBtn"><i class="fas fa-arrow-left"></i></button>
                        <button class="btn btn-primary navButton nxtBtn" id="nextBtn"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
                <!-- button Two -->
                <div class=" rounded d-flex justify-content-center">
                    <button class="btn btn-primary openListBtn" id='btnTwo'>Sports news</button>
                </div>
                <div class="infoContainer d-none" id="footballNews">
                    <div class="apiContent" id="friendliesInfo"></div>
                    <div class="navButtons d-flex justify-content-center">
                        <button class="btn btn-primary navButton prevBtn" id="previousBtn"><i class="fas fa-arrow-left"></i></button>
                        <button class="btn btn-primary navButton nxtBtn" id="nextBtn"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>                
            </div>
        </div>
    </div>    
</section>
