@model IEnumerable<TestSportProgect.Models.Club>

@foreach (var item in Model)
{
    <p class="insertInfo">
        <span>
            @Html.ActionLink(@item.Name, @item.infoPath, "Clubs")
        </span>
    </p>
}
